<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.src.dao.smbDao">

    <select id="showUser" resultType="User" parameterType="String">
        select * from smbms_user
        <where>
            <if test="userName!=null and userName !=''">
                userName like concat('%',#{userName},'%')
            </if>

        </where>
    </select>


    <delete id="deleteUser" parameterType="String" >
        delete from smbms_user where id=#{id}
    </delete>

</mapper>

